.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.companies__link {
  display: flex;
  border: 1px solid var(--clients-border-color);
  color: var(--clients-border-color);
  border-radius: 4px;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    border: 1px solid var(--link-color);
  }
}

.companies__icon {
  fill: currentColor;
}

.companies__icon {
  width: 80px;
  height: 50px;
}

.companies__item {
  --grid-item: 6;
}
