.nav-list__link--blue {
  color: var(--link-color);
}

.nav-list__link--active::after {
  position: absolute;
  display: flex;
  background-color: var(--link-color);
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-list {
  display: flex;
  align-items: baseline;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  margin-bottom: 0px;
}

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-list__icon {
  display: flex;
  align-items: center;
  border: none;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list__icon:hover,
.contact-list__icon:focus {
  stroke: currentColor;
}

.contact-list__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}
