.examples-list__overlay {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.examples-list__text {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  width: 322px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  color: var(--white-color);
}

.examples-list__text-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(0);
  transition: var(--transition-transform);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.examples-list__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.examples-list__item {
  --grid-item: 3;
}

.examples-list__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.examples-list__link:hover .examples-list__text-block,
.examples-list__link:focus .examples-list__text-block {
  transform: translateY(-100%);
  opacity: 1;
}

.examples-list__link:hover,
.examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list__title-block {
  padding: 20px 24px;
  border-left: 1px solid var(--examples-border-color);
  border-right: 1px solid var(--examples-border-color);
  border-bottom: 1px solid var(--examples-border-color);
}

.examples-list__label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
